/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* DECLARIATION DES VARIABLES  */
:root{
    --couleurRose : #ECA4A6;
    --texteBtn : #ffff;
    --couleurChamps: #F5F5F5;
}

/* TITRE */
h1{
    color:var(--couleurRose);
    font-size: 40px;
    margin-top: 25px;
}

/* MAIN */
main{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

/* FORMULAIRE */
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top:15px;
}

/* LABEL */
label{
    font-size: 20px;;
}
/* POUR LES LABEL ET CHAMPS DE SAISIE  */
label,input{
    margin-bottom: 10px;
}

/* STYLE POUR TOUS LES CHAMPS DE TEXTE   */
#age,#taille,#poids{
    background-color: var(--couleurChamps);
    border:none;
    width: 400px;
    height: 30px;;

}
/* STYLE POUR LE DERNIER CHAMPS DE TEXTE */
#poids{
    margin-bottom:20px ;
}

/* STYLE POUR LE  BOUTON ENVOYER */
.btn{
    background-color: var(--couleurRose);
    font-weight: bolder;
    padding: 15px;
    color:white;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    margin: auto;
}



