/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* DECLARIATION DES VARIABLES  */
:root{
    --couleurRose : #ECA4A6;
    --texteBtn : #ffff;
    --couleurChamps: #F5F5F5;
}

/* MAIN */
main{
  
    margin:0 20px;
    
}

/* TITRE */
h1{
    color:var(--couleurRose);
   
    margin-top: 25px;
    font-size: 25px;
    text-align: center;
}

/* POUR AFFICHER LE MESSAGE ERREUR  */
.erreur{
   
    font-size: 20px;
    color:red;
    font-weight: bolder;
}


/* FORMULAIRE */
form{
    display: flex;
    flex-direction: column;
    
    margin-top:15px;
    /* border:1px solid blue; */
}

/* LABEL */
label{
   
    font-size: 20px;
}

/* POUR LES LABELS ET CHAMPS DE TEXTE  */
label,input{
    margin-bottom: 10px;
}

/* STYLE POUR TOUS LES CHAMPS DE TEXTE   */
#taille,#poids{
    background-color: var(--couleurChamps);
    border:none;
    
    height: 30px;
   
}

/* STYLE POUR LE DERNIER CHAMPS DE TEXTE */
#poids{
    margin-bottom:20px ;
}

/* STYLE POUR LE  BOUTON ENVOYER */
.btn{
    background-color: var(--couleurRose);
    font-weight: bolder;
    padding: 15px;
    color:white;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    margin: auto;
}

/* DIV POUR LA REPONSE */
.reponse{
    margin-top: 25px;
    /* width:50vw; */
    margin-bottom : 15px;
    /* border:1px solid red; */
    
}

/* IMC */
.imc{
    font-weight: bolder;
    font-size: 23px;
    /* text-align: center; */
}
/* INFORMATION PAR RAPPORT A IMC  */
.information{
    font-size:16px;
    margin-top: 10px;
    text-align: justify;
}

/* RESPONSIVE*/
@media screen and (min-width:550px)  {

    main{
        margin: 0;
         display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        /* border:1px solid blue; */
    }

    h1{
        font-size:40px;
    }

    form{
        align-items: flex-start;
    }

    #taille,#poids{
        width: 400px;
    }

    .reponse{
        width:40vw;
        /* border: 1px solid red; */
    }

    .imc{
        text-align: center;
    }

    
}